name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  publish:
    needs: create-release
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write #important for OIDC (trusted publishing)
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: '20.x'
          registry-url: https://registry.npmjs.org/
          cache: 'npm'
      - name: Publish to npm
        run: |
          npm i
          npm publish  --provenance --ignore-scripts

  create-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          release_name: ${{ github.ref_name }}
          body: Release for ${{ github.ref_name }}
          draft: false
          prerelease: false
